<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>아이도리 (愛取り)</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <style>
      .main_title {
        height: 100px;
        width: auto;
        color: rgb(255, 0, 200);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(226, 102, 235);
        background-position: center;
        background-size: cover;
      }
      .login_button {
        margin-left: 75%;
      }
    </style>
  </head>
  <body>
    <header class="main_title">
      <h1>아이도리 (愛取り)</h1>
      <button class="login_button">Login</button>
    </header>
  </body>
</html>
