<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Settings</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/tag-load.css" />
    <script defer src="./script/tag-load.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <style>
      .background-image::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url('./assets/image-sakura.png');
        background-size: cover;
        background-position: center 75%;
        background-repeat: no-repeat;
        opacity: 0.5; /* 투명도 조정 */
        z-index: -1;
      }

      body,
      html {
        height: 100%;
        margin: 0;
        position: relative;
      }

      /* 추가되는 모든 내용은 가상 요소 뒤에 표시되도록 z-index 설정 */
      .content {
        position: relative;
        z-index: 1;
      }
    </style>
  </head>
  <body class="background-image bg-white text-black">
    <div id="header"></div>
    <div class="min-h-screen flex flex-col items-center justify-center">
      <div class="w-full max-w-4xl bg-gray-100 p-8 rounded-lg shadow-md">
        <div class="flex flex-col md:flex-row items-center justify-center">
          <!-- Profile Image Section -->
          <div class="flex flex-col items-center justify-center md:w-1/3">
            <!-- 이미지 미리보기 -->
            <div
              id="imagePreview"
              class="w-48 h-48 bg-gray-300 rounded-full mb-4 overflow-hidden"
            ></div>
            <input
              type="file"
              id="imageUpload"
              class="hidden"
              onchange="previewImage(event)"
            />
            <label
              for="imageUpload"
              class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 cursor-pointer"
            >
              Upload New Picture
            </label>
          </div>

          <!-- Form Section -->
          <div class="flex-1 md:ml-8">
            <form>
              <!-- 가게명 -->
              <div class="mb-4">
                <label
                  for="name"
                  class="block text-gray-700 text-sm font-bold mb-2"
                  >가게명</label
                >
                <input
                  type="text"
                  id="name"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                />
              </div>

              <!-- 가게 설명 -->
              <div class="mb-4">
                <label
                  for="description"
                  class="block text-gray-700 text-sm font-bold mb-2"
                  >가게 설명</label
                >
                <input
                  type="text"
                  id="description"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                />
              </div>

              <!-- 업종 -->
              <div class="mb-4">
                <label
                  for="food_category"
                  class="block text-gray-700 text-sm font-bold mb-2"
                  >업종</label
                >
                <select
                  id="food_category"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                ></select>
              </div>

              <!-- 주소 -->
              <div class="mb-4">
                <label
                  for="storeaddresses"
                  class="block text-gray-700 text-sm font-bold mb-2"
                  >주소</label
                >
                <input
                  type="text"
                  id="storeaddresses"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                />
              </div>

              <!-- 사업자 번호 -->
              <div class="mb-4">
                <label
                  for="businesslicense"
                  class="block text-gray-700 text-sm font-bold mb-2"
                  >사업자 번호</label
                >
                <input
                  type="text"
                  id="businesslicense"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  disabled
                />
              </div>

              <!-- 수익금 -->
              <div class="mb-4">
                <label
                  for="points"
                  class="block text-gray-700 text-sm font-bold mb-2"
                  >수익금</label
                >
                <input
                  type="text"
                  id="points"
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  disabled
                />
              </div>

              <!-- 저장 버튼 -->
              <div class="flex items-center justify-end">
                <button
                  class="bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline hover:bg-blue-600"
                  type="button"
                  onclick="submitUpdateForm()"
                >
                  수정
                </button>
                <button
                  class="ml-4 bg-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline hover:bg-blue-600"
                  type="button"
                  onclick="submitDeleteForm()"
                >
                  삭제
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="./script/owner-store-api.js"></script>
    <div id="footer"></div>
  </body>
</html>
