<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/layout.css" />
    <!-- bootscrap CDN-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- 헤더 를 하나만 만들고 갖다 붙이는 식으로 하면 될 것 같은데 어케함 ? -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <!-- 로고 -->
        <a class="navbar-brand" href="#">오죠사마 앙냥냥</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- 로그인 버튼 -->
        <button>로그인</button>
      </div>
    </nav>

    <!-- 가게 정보 저장 영역-->
    <div class="body-container">
      <h1>매장 등록하기</h1>
      <div class="submit-edit-form-wrapper">
        <form id="submitEditForm">
          <label for="name" >가게명</label>
          <input
            type="text"
            id="name"
            class="form-control"
            placeholder="가게명을 입력해주세요."
            required
          />
  
          <label for="description">가게 설명</label>
          <input
            type="text"
            id="description"
            class="form-control"
            placeholder="가게 설명을 입력해주세요."
          />
          <label for="foodtype">메뉴 종류</label>
          <input
            type="text"
            id="foodtype"
            class="form-control"
            placeholder="메뉴 종류를 입력해주세요."
          />
          <label for="status">영업 상태</label>
          <input
            type="text"
            id="status"
            class="form-control"
            placeholder="영업 상태를 입력해주세요."
          />
          <label for="businesslicense">사업자 번호</label>
          <input
            type="text"
            id="businesslicense"
            class="form-control"
            placeholder="사업자 번호를 입력해주세요."
          />
      </div>
    </div>
    <div class="btn-wraaper">
      <button type="button" onclick="submitCreateForm()">저장하기</button>
      <button type="button" onclick="submitUpdateForm()">수정하기</button>
      <button type="button" onclick="submitDeleteForm()">삭제하기</button>
    </div>
  </body>
  <!-- axios CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="script/owner-store-api.js"></script>
</html>
