<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/layout.css" />
    <!-- bootscrap CDN-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <!-- 헤더/푸터 출력-->
    <script defer src="./script/tag-load.js"></script>
  </head>
  <body>
    <!-- 헤더 -->
    <div id="header"></div>
    <!-- 상단 바 -->
    <nav
      id="owner_nave_container"
      class="navbar navbar-expand-lg bg-body-tertiary"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <button type="button" id="store" class="nav-link" href="#">
                가게 정보 수정
              </button>
            </li>
            <li class="nav-item">
              <button type="button" id="menu" class="nav-link" href="#">
                메뉴 관리
              </button>
            </li>
            <li class="nav-item">
              <button type="button" id="order" class="nav-link" href="#">
                주문 관리
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- 가게가 없을 경우 가게 등록 화면으로 이동 -->
    <!-- 가게가 있을 경우 내 가게의 정보와 메뉴들 조회하도록 -->
    <!-- 메뉴를 눌렀을 때 메뉴 정보 수정으로 이동-->
    <iframe
      id="main_iframe"
      src="owner-store-edit.html"
      width="100%"
      height="1000px"
    ></iframe>
  </body>
  <!-- axios CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="script/owner-stroe-paging.js"></script>
  <!-- <script src="script/owner-menu-detail-api.js"></script>
  <script src="script/owner-menu-detail-etc.js"></script> -->
</html>
