<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style></style>
  </head>
  <body class="bg-gray-50">
    <div class="min-h-screen flex items-center justify-center">
      <div
        class="flex w-2/4 h-auto mx-auto bg-white shadow-lg rounded-lg overflow-hidden"
      >
        <!-- Tab buttons -->
        <div class="w-full flex">
          <button
            class="tab w-1/2 bg-gray-100 text-gray-600 py-2"
            onclick="changeTab('normal')"
          >
            일반 회원
          </button>
          <button
            class="tab w-1/2 bg-gray-100 text-gray-600 py-2"
            onclick="changeTab('business')"
          >
            사업자 회원
          </button>
        </div>

        <!-- Tab contents -->
        <div id="normalTab" class="tab-content">
          <!-- 일반 회원 가입 양식 -->
        </div>
        <div id="businessTab" class="tab-content hidden">
          <!-- 사업자 회원 가입 양식 -->
        </div>
      </div>
    </div>

    <script>
      function changeTab(tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName('tab-content');
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = 'none';
        }
        tablinks = document.getElementsByClassName('tab');
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(
            ' bg-white text-indigo-600',
            ' bg-gray-100 text-gray-600',
          );
        }
        document.getElementById(tabName + 'Tab').style.display = 'block';
        event.currentTarget.className += ' bg-white text-indigo-600';
      }
    </script>
  </body>
</html>
