<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    <link rel="stylesheet" href="./css/reset.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="./script/user-signup.js"></script>
    <link rel="stylesheet" href="./css/user-signup.css" />
    <style></style>
  </head>
  <body class="bg-gray-50">
    <!-- 로딩 표시기 -->
    <div id="loading" class="loading-overlay hidden">
      <div class="loading-spinner"></div>
    </div>

    <div id="header"></div>
    <div class="min-h-screen flex items-center justify-center">
      <div
        class="flex w-5/6 h-full mx-auto bg-white shadow-lg rounded-lg overflow-hidden"
      >
        <div
          class="w-1/2 bg-cover"
          style="
            background-image: url('https://source.unsplash.com/random/800x600?food');
          "
        ></div>
        <div class="w-1/2 py-16 px-52 flex flex-col justify-center">
          <!-- 탭 버튼들: 일반 회원 및 사업자 회원 선택 -->
          <div class="w-full flex">
            <button
              id="normalTabBtn"
              class="tab w-1/2 bg-gray-100 text-gray-600 py-2"
              onclick="changeTab('normal')"
            >
              일반 회원
            </button>
            <button
              id="businessTabBtn"
              class="tab w-1/2 bg-gray-100 text-gray-600 py-2"
              onclick="changeTab('business')"
            >
              사업자 회원
            </button>
          </div>

          <!-- 일반 회원 탭 -->
          <div id="normalTab" class="tab-content">
            <div class="mt-6 mb-6 flex items-center">
              <div class="flex-grow">
                <label
                  for="normal-email"
                  class="block text-sm font-medium text-gray-700"
                  >이메일</label
                >
                <input
                  type="email"
                  id="normal-email"
                  class="email-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                  placeholder="Enter your email"
                  required
                />
              </div>
              <button
                id="normal-send-verification-button"
                class="send-verification-button mt-6 ml-2 px-3 py-1 text-xs border border-transparent rounded text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-300"
              >
                인증번호 전송
              </button>
            </div>

            <div class="mb-6 flex items-center">
              <div class="flex-grow">
                <label
                  for="normal-verification"
                  class="block text-sm font-medium text-gray-700"
                  >인증번호 입력</label
                >
                <input
                  type="text"
                  id="normal-verification"
                  class="verification-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                  placeholder="Enter verification code"
                />
              </div>
              <button
                id="normal-verify-verification-button"
                class="verify-verification-button mt-6 ml-2 px-3 py-1 text-xs border border-transparent rounded text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-300"
              >
                인증번호 확인
              </button>
            </div>

            <div class="mb-6">
              <label
                for="normal-password"
                class="block text-sm font-medium text-gray-700"
                >패스워드</label
              >
              <input
                type="password"
                id="normal-password"
                class="password-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                placeholder="Enter your password"
              />
            </div>

            <div class="mb-6">
              <label
                for="normal-password-confirm"
                class="block text-sm font-medium text-gray-700"
                >패스워드 재확인</label
              >
              <input
                type="password"
                id="normal-password-confirm"
                class="password-confirm-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                placeholder="Confirm your password"
              />
            </div>

            <div class="mb-6">
              <label
                for="normal-name"
                class="block text-sm font-medium text-gray-700"
                >이름</label
              >
              <input
                type="text"
                id="normal-name"
                class="name-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                placeholder="Enter your name"
              />
            </div>

            <div class="flex justify-end">
              <button
                id="normal-signup-button"
                class="signup-button px-6 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                signup
              </button>
            </div>
          </div>

          <!-- 사업자 회원 탭 -->
          <div id="businessTab" class="tab-content hidden">
            <div class="mt-6 mb-6 flex items-center">
              <div class="flex-grow">
                <label
                  for="business-email"
                  class="block text-sm font-medium text-gray-700"
                  >이메일</label
                >
                <input
                  type="email"
                  id="business-email"
                  class="email-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                  placeholder="Enter your email"
                  required
                />
              </div>
              <button
                id="business-send-verification-button"
                class="send-verification-button mt-6 ml-2 px-3 py-1 text-xs border border-transparent rounded text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-300"
              >
                인증번호 전송
              </button>
            </div>

            <div class="mb-6 flex items-center">
              <div class="flex-grow">
                <label
                  for="business-verification"
                  class="block text-sm font-medium text-gray-700"
                  >인증번호 입력</label
                >
                <input
                  type="text"
                  id="business-verification"
                  class="verification-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                  placeholder="Enter verification code"
                />
              </div>
              <button
                id="business-verify-verification-button"
                class="verify-verification-button mt-6 ml-2 px-3 py-1 text-xs border border-transparent rounded text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-300"
              >
                인증번호 확인
              </button>
            </div>

            <div class="mb-6">
              <label
                for="business-password"
                class="block text-sm font-medium text-gray-700"
                >패스워드</label
              >
              <input
                type="password"
                id="business-password"
                class="password-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                placeholder="Enter your password"
              />
            </div>

            <div class="mb-6">
              <label
                for="business-password-confirm"
                class="block text-sm font-medium text-gray-700"
                >패스워드 재확인</label
              >
              <input
                type="password"
                id="business-password-confirm"
                class="password-confirm-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                placeholder="Confirm your password"
              />
            </div>

            <div class="mb-6">
              <label
                for="business-name"
                class="block text-sm font-medium text-gray-700"
                >이름</label
              >
              <input
                type="text"
                id="business-name"
                class="name-input mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                placeholder="Enter your name"
              />
            </div>

            <div class="flex justify-end">
              <button
                id="business-signup-button"
                class="signup-button px-6 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                signup
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer"></div>
  </body>
</html>
