<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/layout.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <!-- 헤더/푸터 출력-->
    <script defer src="./script/tag-load.js"></script>
  </head>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"
  ></script>
  <body>
    <!-- 헤더 -->
    <div id="header"></div>
    <!-- 매장 목록 출력 -->
    <div class="stores-container">
      <h1>매장 목록 조회</h1>
      <div id="store_container" class="store-container">
        <!-- <div class="card hover-effect" style="width: 18rem" onclick="location.href='http://localhost:4000/views/user-store-detail.html?id=${e.id}'">
          <img
            src="./assets/test-img.jpg"
            class="card-img-top"
            alt="..."
          />
          <td class="hidden">${e.id}</td>
          <div class="card-body">
            <h5 class="card-title">${e.name}</h5>
            <p class="card-text">${e.description}</p>
          </div>
        </div> -->
      </div>
    </div>
    <div id="footer"></div>
  </body>
  <!-- 프론트 비동기처리(?)-->
  <!-- 프론트에서 백으로 데이터 넘겨주기!-->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="script/user-main-api.js"></script>
</html>
