<nav id="owner_nave_container" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button
            type="button"
            id="store"
            class="nav-link"
            onclick="moveMyInfoEdit()"
          >
            내 정보 수정
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            id="order"
            class="nav-link"
            onclick="moveOrderList()"
          >
            주문 목록 조회
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            id="review"
            class="nav-link"
            onclick="moveReviewList()"
          >
            리뷰 목록 조회
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
