body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  overflow-y: auto;
}
.order-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.order-item {
  flex: 1;
  text-align: center;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #848383;
  box-sizing: border-box;
}
.spacer {
  flex-grow: 1;
}
/* 특정 항목에 대한 스타일을 더욱 세밀하게 조정하고 싶다면, 추가 클래스 또는 ID를 사용할 수 있습니다. */
.order-item.orderNumber {
  flex: 0 0 120px; /* 주문번호 항목의 너비를 고정시킵니다. */
}

.order-item.customerName {
  flex: 0 0 120px; /* 고객명 항목이 다른 항목들보다 더 넓은 공간을 차지하도록 합니다. */
}

.order-item.menuName {
  flex: 0 0 120px; /* 메뉴명 항목이 가장 넓은 공간을 차지하도록 합니다. */
}

.order-item.amount {
  flex: 0 0 120px; /* 금액 항목에 대한 설정을 다시 정의할 수 있습니다. */
}

.order-item.orderStatus {
  flex: 0 0 100px; /* 주문 상태 항목에 대한 설정을 다시 정의할 수 있습니다. */
  border: none;
}
.order-item.orderStatus button {
  background-color: #007bff; /* 푸른색 배경 */
  color: white; /* 흰색 텍스트 */
  border: 2px solid #007bff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 110px;
}

.order-item.orderStatus button.completed {
  background-color: white; /* 클릭 시 흰색 배경 */
  color: black; /* 클릭 시 검은색 텍스트 */
}
.order-item.cancelOrder {
  flex: 0 0 auto; /* flex-grow, flex-shrink, flex-basis 값을 설정 */
  width: 150px; /* 원하는 너비로 설정 */
  margin-left: auto;
  border: none; /* 테두리 제거 */
}
.order-item.cancelOrder button {
  background-color: #ff0000; /* 붉은색 배경 */
  color: white; /* 흰색 텍스트 */
  /* border: none; 테두리 제거 */
  padding: 10px 20px; /* 버튼 내부 여백 */
  cursor: pointer; /* 마우스 오버 시 커서 변경 */
  border-radius: 4px; /* 버튼 모서리 둥글게 */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.scrollable {
  max-height: 500px;
  overflow-y: auto;
}
