:root {
  --header-height: 80px; /* 헤더의 높이에 맞게 조정 */
  --footer-height: 80px; /* 푸터의 높이에 맞게 조정 */
}

body {
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  margin: 0; /* 기본 여백 제거 */
  /* 기존 스타일 */
  background-color: #f3f3f3;
}

header {
  height: var(--header-height);
  /* 헤더에 대한 다른 스타일 */
}

footer {
  height: var(--footer-height);
  /* 푸터에 대한 다른 스타일 */
}
.slide-show {
  background-image: url('https://source.unsplash.com/random/1920x1080?food');
  background-size: cover;
  background-position: center;
}
